<div class="modules-grid">
  @for (mode of modules; track $index) {

  <mat-card class="module-card" appearance="outlined" [routerLink]="mode.route">
    <mat-card-header class="module-card__header">
      <div class="module-card__header-content">
        <mat-icon class="module-card__icon">{{ mode.icon }}</mat-icon>
        <mat-card-title class="module-card__title">{{ mode.Title }}</mat-card-title>
      </div>
    </mat-card-header>

    <mat-card-content class="module-card__content">
      <p class="module-card__description">{{ mode.description }}</p>
    </mat-card-content>

    <mat-card-footer class="module-card__footer">
      <mat-chip-set>
        @for (trait of mode.traits; track $index) {
        <mat-chip class="module-card__chip">{{ trait }}</mat-chip>
        }
      </mat-chip-set>
    </mat-card-footer>
  </mat-card>
  }
</div>
