<h2 mat-dialog-title class="dialog-title">
  <mat-icon class="title-icon">directions_car</mat-icon>
  {{ isEditing ? 'Editar Reserva' : 'Crear Reserva' }}
</h2>

<mat-dialog-content class="dialog-body" [formGroup]="form">

  <div class="section-title">Datos del Pago</div>

  <mat-form-field appearance="fill" class="full-width">
    <mat-icon matPrefix>receipt</mat-icon>
    <mat-label>Pago</mat-label>

    <mat-select formControlName="pagoId">
      <mat-optgroup label="Buscar pago">
        <mat-form-field class="search-field">
          <mat-icon matPrefix>search</mat-icon>
          <input
            matInput
            placeholder="Buscar por N° Boleta, Nombre o Apellido"
            (keyup)="filtroPago.set($event.target.value)"
          />
        </mat-form-field>
      </mat-optgroup>

      @for (pago of pagosFiltrados; track pago.id) {
      <mat-option [value]="pago.id">
        {{ pago.numeroBoleta }} — {{pago.nombreUsuario}} {{pago.apellidoUsuario}} 
      </mat-option>
      }
    </mat-select>

    <mat-error *ngIf="form.get('pagoId')?.hasError('required')">
      Seleccionar un pago es obligatorio
    </mat-error>
  </mat-form-field>


  <div class="section-title">Datos del Vehiculo</div>
  <mat-form-field appearance="fill" class="full-width">
    <mat-icon matPrefix>car_rental</mat-icon>
    <mat-label>Vehículo</mat-label>

    <mat-select formControlName="vehiculoId">
      <mat-optgroup label="Buscar vehículo">
        <mat-form-field class="search-field">
          <mat-icon matPrefix>search</mat-icon>
          <input
            matInput
            placeholder="Placa o marca"
            (keyup)="filtroVehiculo.set($event.target.value)"
          />
        </mat-form-field>
      </mat-optgroup>

      @for (vehiculo of vehiculosFiltrados; track vehiculo.id) {
      <mat-option [value]="vehiculo.id">
        {{ vehiculo.placa }} — {{ vehiculo.marca }} ({{ vehiculo.modelo }})
      </mat-option>
      }
    </mat-select>

    <mat-error *ngIf="form.get('vehiculoId')?.hasError('required')">
      El vehículo es obligatorio
    </mat-error>
  </mat-form-field>


  <div class="section-title">Datos de la fecha de Reserva</div>
  <div class="fecha-group">
    <mat-form-field appearance="fill" class="full-width">
      <mat-icon matPrefix>event</mat-icon>
      <mat-label>Fecha y Hora de Reserva</mat-label>

      <input matInput formControlName="fechaReserva" readonly placeholder="Seleccione en el calendario">
    </mat-form-field>

    <button mat-stroked-button color="primary" (click)="openCalendarDialog()" class="calendar-btn"
    [disabled]="form.get('vehiculoId')?.invalid || form.get('pagoId')?.invalid">
      <mat-icon>calendar_month</mat-icon>
      Seleccionar
    </button>
  </div>

  <mat-form-field appearance="fill" class="full-width">
    <mat-icon matPrefix>timer</mat-icon>
    <mat-label>Minutos Reservados</mat-label>

    <input matInput type="number" formControlName="minutosReservados" min="1" />
<mat-hint>Establecido por el calendario</mat-hint>

    <mat-error *ngIf="form.get('minutosReservados')?.hasError('required')">
      Este campo es obligatorio
    </mat-error>

    <mat-error *ngIf="form.get('minutosReservados')?.hasError('min')">
      Debe ser al menos 1 minuto
    </mat-error>
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="close()">
    <mat-icon>close</mat-icon>
    Cancelar
  </button>

  <button mat-raised-button color="primary" [disabled]="form.invalid" (click)="save()">
    <mat-icon>check</mat-icon>
    {{ isEditing ? 'Actualizar' : 'Crear' }}
  </button>
</mat-dialog-actions>


