<h2 mat-dialog-title class="modal__header">
  <mat-icon class="modal__header-icon">inventory_2</mat-icon>
  {{ isEditing ? 'Editar Paquete' : 'Nuevo Paquete' }}
</h2>

<mat-dialog-content [formGroup]="form" class="modal__body form">
  
  <div class="form__section-title">Nombre del Paquete</div>

  <mat-form-field appearance="outline" class="form__field">
    <mat-label>Nombre</mat-label>
    <mat-icon matPrefix class="form__icon">label_important</mat-icon>
    <input matInput formControlName="nombre" />
  </mat-form-field>

  
  <div class="form__section-title">Descripción</div>
  <mat-form-field appearance="outline" class="form__field">
    <mat-label>Descripción</mat-label>
    <mat-icon matPrefix class="form__icon">notes</mat-icon>
    <input matInput formControlName="descripcion" />
  </mat-form-field>

  <div class="form__toggle-group">
    <span class="form__toggle-label">Duración registrada en:</span>
    <mat-slide-toggle (change)="toggleMode()" [checked]="isHours" [disabled]="isDuracionBloqueada"> Horas </mat-slide-toggle>
  </div>

  @if (!isHours) {
<mat-form-field appearance="outline" class="form__field form__field--fade">
<mat-label>Duración (minutos)</mat-label>
<mat-icon matPrefix class="form__icon">timer</mat-icon>
<input matInput type="number" formControlName="duracionMinutos" />
@if (isDuracionBloqueada) {
<mat-hint style="color: #f44336; font-weight: 500;">
No editable: existen pagos asociados a este paquete.
</mat-hint>
}
</mat-form-field>
} @else {
<mat-form-field appearance="outline" class="form__field form__field--fade">
<mat-label>Duración (horas)</mat-label>
<mat-icon matPrefix class="form__icon">schedule</mat-icon>
<input matInput type="number" formControlName="duracionHoras" />
@if (isDuracionBloqueada) {
<mat-hint style="color: #f44336; font-weight: 500;">
No editable: existen pagos asociados a este paquete.
</mat-hint>
}
</mat-form-field>
}


  <div class="form__section-title">Precio Total</div>
  <mat-form-field appearance="outline" class="form__field">
    <mat-label>Precio Total</mat-label>
    <mat-icon matPrefix class="form__icon">attach_money</mat-icon>
    <input matInput type="number" formControlName="precioTotal" />
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions align="end" class="modal__actions">
  <button mat-button (click)="close()">Cancelar</button>
  <button mat-flat-button color="primary" (click)="save()" [disabled]="form.invalid">
      <mat-icon>save</mat-icon>
    {{ isEditing ? 'Actualizar' : 'Guardar' }}
  </button>
</mat-dialog-actions>