<mat-nav-list>
  <mat-list-item routerLink="/dashboard/home" (click)="handleItemClick()" tabindex="-1" routerLinkActive="activelink" [routerLinkActiveOptions]="{ exact: true }">
    <span class="icon-and-text">
      <mat-icon class="icon-margin">home</mat-icon> Inicio
    </span>
  </mat-list-item>
  <mat-list-item routerLink="/dashboard/calendario" (click)="handleItemClick()" tabindex="-1" routerLinkActive="activelink" >
    <span class="icon-and-text">
      <mat-icon class="icon-margin">table</mat-icon> Calendario
    </span>
  </mat-list-item>
  <mat-list-item routerLink="/dashboard/grafico" (click)="handleItemClick()" tabindex="-1" routerLinkActive="activelink">
    <span class="icon-and-text">
      <mat-icon class="icon-margin">pie_chart</mat-icon> Gráfico
    </span>
  </mat-list-item>

  <!-- <mat-nav-list>
    <mat-list-item (click)="toggleSubMenu('components')">
      <span class="icon-and-text">
        <mat-icon class="icon-margin">https</mat-icon> SubMenu
        <div class="expand-icon-right">
          <mat-icon class="expand-icon">
            {{ subMenuOpen() === 'components' ? 'expand_less' : 'expand_more' }}
          </mat-icon>
        </div>
      </span>
    </mat-list-item>

    @if (subMenuOpen() === 'components') {
    <div>
      <mat-list-item class="submenu-content" routerLink="/dashboard/drawer/buttons" (click)="handleItemClick()" tabindex="-1" routerLinkActive="activelink">
        <span class="icon-and-text">
          <mat-icon class="icon-margin">rss_feed</mat-icon> Buttons
        </span>
      </mat-list-item>

      <mat-list-item class="submenu-content" routerLink="/dashboard/drawer/tabs" (click)="handleItemClick()" tabindex="-1" routerLinkActive="activelink">
        <span class="icon-and-text">
          <mat-icon class="icon-margin">screen_share</mat-icon> Tabs
        </span>
      </mat-list-item>
    </div>
    }
  </mat-nav-list> -->
</mat-nav-list>
