<h2 mat-dialog-title>{{ isEditing ? 'Editar Vehículo' : 'Nuevo Vehículo' }}</h2>

<mat-dialog-content [formGroup]="form" class="flex flex-col gap-3">
  <mat-form-field appearance="outline">
    <mat-label>Placa</mat-label>
    <input matInput formControlName="placa" />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Marca</mat-label>
    <input matInput formControlName="marca" />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Modelo</mat-label>
    <input matInput formControlName="modelo" />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Tipo Transmisión</mat-label>
    <mat-select formControlName="tipoTransmision">
      @for (tipo of tiposTransmision; track $index) {
        <mat-option [value]="tipo">{{ tipo }}</mat-option>
      }
    </mat-select>
  </mat-form-field>

  @if (isEditing) {
  <mat-form-field appearance="outline">
    <mat-label>Estado</mat-label>
    <mat-select formControlName="estado">
      @for (estado of estadoVehiculos; track $index) {
        <mat-option [value]="estado">{{ estado }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
}
  
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="close()">Cancelar</button>
  <button mat-flat-button color="primary" (click)="save()">
    {{ isEditing ? 'Actualizar' : 'Guardar' }}
  </button>
</mat-dialog-actions>
