/*      VARIABLES GLOBALES     */
$color-primary: #3f51b5;
$color-text-main: #333333;
$shadow-elevation: 0 4px 10px rgba(0, 0, 0, 0.05);
$transition-speed: 0.3s;


/*       pago-management          */

.pago-management {
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    background-color: #ffffff; // Fondo limpio
    border-radius: 12px;
    box-shadow: $shadow-elevation; // Sombra sutil para destacar la sección
    margin: 20px; // Margen para separarlo del borde de la pantalla

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 12px;
        border-bottom: 1px solid #f0f0f0; // Separador suave
    }

    &__title {
        font-size: 24px; // Ligeramente más grande
        font-weight: 700;
        color: $color-text-main;
        display: flex;
        align-items: center;
        gap: 12px; // Más espacio

        &::before {
            content: '';
            width: 6px;
            height: 28px; // Ligeramente más alto
            background-color: $color-primary;
            border-radius: 4px;
            display: inline-block;
        }
    }

    &__button-add {
        display: flex;
        align-items: center;
        gap: 6px;
        padding: 8px 18px; // Más padding para un botón más robusto
        border-radius: 8px;
        transition: transform $transition-speed, box-shadow $transition-speed;

        mat-icon {
            font-size: 20px; // Más pequeño para que se integre mejor
        }
        
        // Efecto hover sutil
        &:hover {
            box-shadow: 0 4px 8px rgba($color-primary, 0.3);
            transform: translateY(-1px);
        }
    }

}