<section class="grid-container">
  <app-filter
    [label]="'Filtrar...'"
    [placeholder]="'Buscar registro...'"
    [(filter)]="valueToFilter"
    (onRefresh)="handleRefresh()"
  ></app-filter>

  <div class="table-wrapper">
    <table mat-table matSort [dataSource]="dataSource" class="grid-table">
      @for (column of displayedColumns(); track column) {

      <ng-container [matColumnDef]="column">
        <th
          mat-header-cell
          *matHeaderCellDef
          [mat-sort-header]="sortableColumns().includes(column) ? column : ''"
          [disabled]="!sortableColumns().includes(column)"
          class="custom-header-cell"
        >
          {{ columnLabels()[column] || column }}
        </th>

        <td mat-cell *matCellDef="let element">
          @switch (pipesMap()[column]) { @case ('minutosHoras') {
          {{ element[column] | minutosHorasPipe }} } @case ('currency') {
          {{ element[column] | currency : 'PEN' : 'S/. ' : '1.2-2' }} } @case ('date') {
          {{ element[column] | date : 'dd/MM/yyyy h:mm a' }} } @default { @if (!['details',
          'cambios', 'action'].includes(column)) {
          {{ element[column] }}
          } } } @if(column === 'details'){
          <button
            matIconButton
            class="details-btn"
            (click)="details.emit(element)"
            matTooltip="Ver detalles"
          >
            <mat-icon>visibility</mat-icon>
          </button>

          <button
            matIconButton
            class="reservas-btn"
            (click)="reservas.emit(element)"
            matTooltip="Ver calendario"
          >
            <mat-icon>schedule</mat-icon>
          </button>
          } @if(column === 'cambios'){

          <button
            matIconButton
            class="reprogramar-btn"
            (click)="reprogramar.emit(element)"
            [disabled]="['EN_PROGRESO', 'CANCELADO', 'FINALIZADO'].includes(element.estado)"
            matTooltip="Reprogramar"
          >
            <mat-icon>edit_calendar</mat-icon>
          </button>

          <button
            matIconButton
            class="incidencia-btn"
            (click)="incidencia.emit(element)"
            [disabled]="element.estado === 'RESERVADO'"
            matTooltip="Reportar incidencia"
          >
            <mat-icon>warning</mat-icon>
          </button>

          <button
            matIconButton
            class="cancelar-btn"
            (click)="cancelar.emit(element)"
            [disabled]="['EN_PROGRESO', 'CANCELADO', 'FINALIZADO'].includes(element.estado)"
            matTooltip="Anular"
          >
            <mat-icon>cancel</mat-icon>
          </button>
          } @if(column === 'action'){
          <button
            matIconButton
            class="edit-btn"
            (click)="edit.emit(element)"
            matTooltip="Actualizar"
          >
            <mat-icon>edit</mat-icon>
          </button>

          <button
            matIconButton
            class="delete-btn"
            (click)="delete.emit(element)"
            matTooltip="Eliminar"
          >
            <mat-icon>delete</mat-icon>
          </button>
          }
        </td>
      </ng-container>
      }

      <tr mat-header-row *matHeaderRowDef="displayedColumns()" class="custom-header-row"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns()" class="row-fila"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons> </mat-paginator>
  </div>
</section>
